<p>registrazione works!</p>


<div class="login-box">
    <p>Registrazione</p>
    <form [formGroup]="form" (ngSubmit)="registra()" >
      <div class="user-box">
        <input formControlName="nome" required="" name="" type="text">
        <label>Nome</label>
      </div>
      <div class="user-box">
        <input formControlName="cognome" required="" name="" type="text">
        <label>Cognome</label>
      </div>
      <div class="user-box">
        <input formControlName="email" required="" name="" type="email">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input formControlName="password" required="" name="" type="password">
        <label>Password</label>
      </div>
      <button type="submit" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
    <p>Don't have an account? <a href="" class="a2">Sign up!</a></p>
  </div>